@import "../colors";

.user-profile-page {
    font-family: 'Arial', sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    min-height: calc(100vh - 80px) !important;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    
    .profile-card {
        overflow-y: auto !important;
    }
}
/* Profile Info Section */
 .profile-info-section {
    width: 100%;
    
    /* Avatar */
    .profile-top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 15px;
     
     .profile-avatar-container {
        .profile-avatar-large {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 50%;
          @media (max-width:400px) {
              width: 80px;
              height: 80px;
          }
        }
      }
     .profile-bio-section {
       .profile-header-username {
          font-size: 15px;
          font-weight: bold;
          text-transform: capitalize;
          @media (max-width:400px) {
              font-size: 11px;
          }
       }
       .profile-full-name {
          font-size: 22px;
          font-weight: 600;
          color: #333;
          margin-block: 0px;
          @media (max-width:400px) {
              font-size: 16px;
          }
        }
       .profile-bio {
          font-size: 14px;
          color: #555;
          line-height: 1.5;
          @media (max-width:400px) {
              font-size: 10px;
          }
        }
      }
    }
    /*Status */
    .profile-status {
      display: flex;
      
      .stat-item {
        text-align: center;
        font-size: 18px;
        padding-inline: 10px;
        .stat-number {
          padding-inline-end: 3px;
          color: $text-color;
        }
        .stat-label {
          color: $text-gray;
        }
      }
      @media (max-width:400px) {
       flex-wrap: wrap;
      }
    }
    /* Action Buttons */
    .profile-actions {
      display: flex;
      gap: 10px;
      height: 50px;
      margin-top: 10px;
      button {
        padding: 0px;
        border: 1px solid #ddd;
        @media (max-width:400px) {
            font-size: 10.5px;
        }
      }
    }
}

.horitzonal-line{
      width: 100%;
      margin-block: 10px;
      color: $primary-color !important;
}

/* Tabs Section */
.profile-tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .tab-button {
      padding: 0px;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      width: 48%;
      &.active {
        background-color:$primary-light;
        button{
          color: white !important;
          &:hover{
            background-color:$primary-light !important;
          }
        }
      }
    }

}

/* Posts Grid */
.posts-grid-container {
  width: 100%;
  .posts-grid {
    .post-thumbnail {
      position: relative;
      cursor: pointer;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
      height: auto;
      max-height:250px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
      .skeleton-image {
        width: 100%;
        height: 250px;
      }
    }
  }

  @media (max-width: 480px) {
    .posts-grid {
      .post-thumbnail {
        max-height: 180px;
      }
    }
  }

  .empty-state {
    text-align: center;
    margin-top: 50px;
    color: $lightText;

    .empty-icon {
      font-size: 48px;
      color: $text-light;
    }
    .empty-title {
      font-size: 18px;
      font-weight: 600;
      color: $text-color;
      margin-top: 20px;
    }
    .empty-text {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

  
  