@import "_colors";

body {
  // font-family: 'Poppins', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: transparent;
  color: $text-color;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main{
 width: 100%;
 height: 100vh;
 overflow-y: hidden;
}

.auth-title {
  text-align: center;
  color: $primary-color;
  margin-bottom: 1.5rem;
}
